@keyframes changeColor {
    0% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}

.box {
    width: 200px;
    height: 200px;
    animation: changeColor 5s linear infinite alternate;
}