body {
    margin: 0;
    background-color: #f0f0f0; /* შეცვალეთ ფონის ფერი */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    margin: 20px;
}
