@font-face {
    font-family: 'ButtonFont';
    src: url('fonts/ButtonFont.woff2') format('woff2'),
         url('fonts/ButtonFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
