.button1 {
    background-color: #FF5733; /* ფონის ფერი */
    color: #FFFFFF; /* ტექსტის ფერი */
}

.button2 {
    background-color: #33FF57; /* ფონის ფერი */
    color: #000000; /* ტექსტის ფერი */
}

.button3 {
    background-color: #3357FF; /* ფონის ფერი */
    color: #FFFF00; /* ტექსტის ფერი */
}



.parent {
   
    height: 600px;
    background-color: #ffcc00; /* მშობელი დივ ბლოკის ფონის ფერი თექვსმეტობითი */
}
.child {
    
    height: 10%; /* მშობელი დივ ბლოკის სიმაღლის 10% */
    background-color: #0066ff; /* შვილობილი დივ ბლოკის ფონის ფერი თექვსმეტობითი */
}